CAMPUSCUE_DB_HOST=ep-muddy-thunder-a1ot68wd-pooler.ap-southeast-1.aws.neon.tech
CAMPUSCUE_DB_PORT=5432
CAMPUSCUE_DB_NAME=neondb
CAMPUSCUE_DB_USER=neondb_owner
CAMPUSCUE_DB_PASSWORD=replace-with-real-password
